.page-container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}

.chart-container {
    width: 100%;          /* Take full width of its parent */
    max-width: 700px;     /* Limit the maximum width */
    height: 500px;        /* Set a default height */
    margin: 0 auto;       /* Center the chart horizontally */
    display: flex;        /* Use flexbox */
    flex-direction: column; /* Stack legend and chart vertically */
    align-items: center;  /* Center items horizontally */
}

@media (max-width: 768px) {
    .chart-container {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .chart-container {
        height: 250px;
    }

    ::ng-deep{
        .legend-labels{
          display       : flex;
          flex-direction: column;
        }
      }
}