.data-card {
    margin          : 0 auto;
    border-radius   : 12px;
    border          : 2px solid #04838f;
    width           : 220px;
    height          : 80px;
    text-align      : center;
    font-family     : 'Roboto', sans-serif;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    gap             : 10px;

    * {
        margin: 0;
        font-size       : 22px;
    }

    .data-card-value {
        font-weight: bold;
    }
}

