.title-card {
    margin          : 0 auto;
    border-radius   : 6px;
    background-color: #008080;
    color           : white;
    padding         : 8px;
    width           : 270px;
    height          : 75px;
    font-size       : 16px;
    text-align      : center;
}